# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env

# SvelteKit / Node
node_modules/
.svelte-kit/
build/
.env

# IDE
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# Temp files
delete
stop
query
package.json
package-lock.json

.history/
